/* defolt-item */
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
   
}
/* nav bar item */

.header-logo{
    height: 50px;
}
.span{
    color: darkorange;
}
.header-logo-title{
    margin-left: 20px;
    padding-top: 12px;
}
.main-header{
    display: flex;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 100px ;
    font-size: 20px;
    font-weight: 800;
    height: 60px;
    background-color:#FDFEFE;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3),
    0px 0px 10px rgba(0, 0, 0, 0.3),
    0px 0px 15px rgba(0, 0, 0, 0.3);
}
.header-nav-icon{
    list-style: none;
    display: flex;
    padding: 5px;
    align-items: center;
}
.header-nav-icon li{
    margin: 20px;
    padding: 5px;
    border-radius: 10px 0;
}
.header-nav-icon li:hover{
    background-color: #D35400;
    color: #FBFCFC;

}

.nav-home{
    border: 1px solid blue;
    padding: 5px;
    border-radius: 10px 0;
    color: #FBFCFC;
    background-color: blue;
    
}
.nav-home:hover{
    background-color: #D35400;
}


/*  banner section style */
.banner-continer{
    height: 70vh;
    width: 100%;
    background-image: url(./images/banner2.png);
    background-size: cover;
    margin-top: 10px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
    
     
}
.banner-details{
    text-align:  right;
    margin-right: 130px;
     padding-top: 50px;
}
.banner-title{
    padding-top: 30px;
}
.banner-description{
    margin-top: 20px;
}
.banner-btn{
    font-size: 20px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px 0;
}

/* main description and image */
.main-img{
    height: 400px;
}
.main{
    display: flex;
    margin:0 100px ;
    margin-top: 70px;
}
.main-title{
    text-align: left;
    margin-top: 120px;
}
.main-descriton{
    margin-top: 10px;
    font-size: 14px;
}
.main-description{
    margin-left: 50px;
}
.main-ul{
    margin-top: 15px;
    list-style: none;
    font-size: 12px;
}
.cheack{
    height: 15px;
}
.main-text-ul{
    list-style: none;
    font-size: 13px;
    margin-top: 15px;
    margin-left: 8px;
}
.main-ul-continer{
    display: flex;
}
.main-myplan{
    margin-top: 100px;
    text-align: center;
}

/* skills for me */
 .my-skills{
    display: flex;
    gap: 50px;
     justify-content: center;
    margin-top: 50px;
 }
 .skill-title{
    font-weight: 800;
 }
 .skill{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3),
    0px 0px 10px rgba(0, 0, 0, 0.3),
    0px 0px 15px rgba(0, 0, 0, 0.3);
    height: 180px;
    width: 150px;
    
 }

 


 
 .hero{
    width: 750px;
    height: 200px;
    background-color: pink;
    background-image: url("/images/watch.png");
    background-size: cover;
    background-position:center;
    margin-left: 130px;
    margin-top: 50px;
    position: relative;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3),
    0px 0px 10px rgba(0, 0, 0, 0.3),
    0px 0px 15px rgba(0, 0, 0, 0.3);




 }
 .hero > h2{
    color: #FDFEFE;
    padding-top: 20px;
    padding-left: 50px;
    position: absolute; left: o;top: 0; width: 710px;height:179px ;
    background-image:linear-gradient(to right,
     rgb(208, 70, 21),
     rgba(0,0,0,.4),
     rgba(0,0,0,0));
 }
 .hero-btn{
    color: black;
    position:absolute ;
    margin-top: 95px;
    margin-left: 45px;
    font-size: 15px;
    padding: 5px;
    border: none;
    border-radius: 10px 0;
    height: 40px;
    width: 90px;
    color: #D35400;
    font-weight: 800;
 }
 .hero-btn:hover{
    background-color: blue;
 }

 /* footer section title */
 .footer-continer{
    height: 330px;
    width: 95%;
    background-color: #17202A;
    margin-top: 50px;
    margin-left: 30px;
    justify-content: space-between;
    display: flex;
    color: #FDFEFE;
 }
.text-logo{
    margin-top: 90px;
    margin-left: 100px;
}
.logo-footer-description{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}
.footer-logo{
    height: 27px;
    width: 27px;
    display: flex;
    gap: 10px;
}
/* input continer */
.input-continer{
    margin-right: 40px;
    margin-top: 90px;
}
.footer-input-btn{
    font-size: 15px;
    margin-bottom: 15px;
}
.footer-input-email{
    height: 30px;
    border: 1px solid black;
    font-size: 12px;
}
.footer-email-sub{
    margin-top: 10px;
    height: 30px;
    width: 80px;
    font-size: 12px;
    font-weight: 800;
    color: #D35400;
    border: none;
    border-radius: 10px 0;
}
.footer-email-sub:hover{
    background-color: #D35400;
    color: #FDFEFE;
}
     